body {
	background: #DAECFF;
	}
.container {
    width: 90%; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
   }
header {
	height: 60px;
	position: relative;
	padding: 5px;
	border-radius: 3px;
	background: -webkit-linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* Standard syntax (must be last) */
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	}
header img {
margin-top:20px;
position: absolute;
}
article {
	margin-left: 205px; /* Отступ слева */
    padding: 30px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	font-family: sans-serif;
}
article h1 {
	text-align: center;
	font-family: sans-serif;
}
article h2 {
	text-align: center;
	font-family: sans-serif;
}
#how1 {
 width: 400px;
 height: 270px;
 padding:10px;
 margin-left: 500px;
 -moz-box-sizing: border-box;
 box-sizing:border-box;

}
#img_how1 {
float: left;
padding:10px;
}
article img {
	height:250px;
	width: 460px;
	border-radius: 100px;
}
#how2 { 
 width: 400px;
 height: 270px;
 padding:10px;
 -moz-box-sizing: border-box;
 box-sizing:border-box;
 float: left;
}
#img_how2 {
margin-left: 500px;
padding:10px;
}
nav { 
	margin: 0;
	float: left;
	position: relative;
	display: block;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li a:link, nav ul li a:visited {
	font-weight: bold;
	display: block;
	margin-top: 5px;
	width: 200px;
	height: 30px;
	text-decoration: none;
	font-family: sans-serif;
	background: -webkit-linear-gradient(#52e3ec, #52BCEC); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#52e3ec, #52BCEC); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#52e3ec, #52BCEC); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#52e3ec, #52BCEC); /* Standard syntax (must be last) */
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	text-align: center;
	color: #0d5b7f;
}
nav ul li a:hover, nav ul li a:active {
background-color: #87CEEB;
}
footer {
	text-align: center;
	background: -webkit-linear-gradient(#52BCEC, #52e3ec,#97d7f4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#52BCEC, #52e3ec, #97d7f4); /* Standard syntax (must be last) */
	height: 60px;
	position: relative;
	padding:5px;
	clear: both;
	font-family: sans-serif;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
 }
 footer a {
 text-decoration: none;
 }